
html, body {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

body {
	background-color: #1a1a1a;
	color:#979c9b;
   }
   
main {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} 
  
@media screen and (max-width: 500px) {
	.header {
		display: block;
	}
}

.header {
	width: 60px;
	text-align: right;
	font-weight: bold;
	margin: 0 10px;
}

li {
	font-size: 17px;
	font-weight: bold;
	font-family: "ubuntu mono";
	display: inline-block;
	list-style: none;
	margin: 2px 4px; 
}

a {
	color:#979c9b;
	text-decoration: none;
}

a:hover {
	color: white;
}

#input1 {
	background: #282828;
	color: white;
	border: none;
	font-family: "ubuntu mono";
	font-size: 17px;
	font-weight: bold;
	height: 17px;
	margin-top: 5px;
	padding: 5px;
	transition: .2s;
	width: 100%; 
	outline: none;
	text-transform: uppercase;
}

#help {
	display: none;
	margin-top: 15px;
}

.col {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}
.cmdH {
	display: block;
	text-align: right;
	color: #ff66d9;
}
.actH {
	display: block;
	color: #80ffbf;
}
.cmd {
	display: block;
	text-align: right;
	color: #99ddff;
}
.act {
	display: block;
	color: #f2f2f2 ;
}